<div class="row">
										<tr th:each="reputationPage:${reputationPage}">
											<div class="col-sm-6 p-2 g-col-6">
												<div class="card">
													<div class="card-body">
														<td th:text="${reputationPage.getUser().getName()}"></td>
														<div sec:authorize="isAuthenticated()">
															<div th:if="${reputationPage.getUser().getId() == #authentication.principal.user.id}">
																<td><a href="#" class="samuraitravel-link-danger" data-bs-toggle="modal"
																		th:data-bs-target="${'#deleteHouseModal' + reputationPage.getId()}">削除</a>
																</td>																　　　　　　　　　　　　
																<!-- 削除用モーダル -->
																　　　　　　　　　 <div class="modal fade"	th:id="${'deleteHouseModal' + reputationPage.getId()}"	tabindex="-1"
																	th:aria-labelledby="${'deleteHouseModalLabel' + reputationPage.getId()}">
																	　　　　　　　　 <div class="modal-dialog">
																		　　　　　　 <div class="modal-content">
																			　 <div class="modal-header">
																				<h5 class="modal-title"
																					th:id="${'deleteHouseModalLabel' + reputationPage.getId()}"
																					th:text="'この投稿を削除してもよろしいですか？'"></h5>
																				<button type="button" class="btn-close"
																					data-bs-dismiss="modal"
																					aria-label="閉じる"></button>
																			</div>
																			<div class="modal-footer">
																				<form method="post"
																					th:action="@{/houses/__${house.getId()}__/reviews/__${reputationPage.getId()}__/delete}">
																					<button type="submit"
																						class="btn samuraitravel-btn-danger text-white shadow-sm">削除</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
																<div>
																 <a th:href="@{/houses/__${house.getId()}__/reviews/__${reputationPage.getId()}__/edit}">編集</a> 
																</div>       
															</div>
														</div>
														<div th:if="${reputationPage.getScore() == 1}">
															<span
																style="color: orange;">&#9733&#9734&#9734&#9734&#9734</span>
														</div>
														<div th:if="${reputationPage.getScore() == 2}">
															<span
																style="color: orange;">&#9733&#9733&#9734&#9734&#9734</span>
														</div>
														<div th:if="${reputationPage.getScore() == 3}">
															<span
																style="color: orange;">&#9733&#9733&#9733&#9734&#9734</span>
														</div>
														<div th:if="${reputationPage.getScore() == 4}">
															<span
																style="color: orange;">&#9733&#9733&#9733&#9733&#9734</span>
														</div>
														<div th:if="${reputationPage.getScore() == 5}">
															<span
																style="color: orange;">&#9733&#9733&#9733&#9733&#9733</span>
														</div>
														<p>
															<td
																th:text="${#dates.format(reputationPage.getCreatedAt(), 'yyyy年MM月dd日')}">
															</td>
														</p>
														<p class="mt-3">
															<td th:text="${reputationPage.getDescription()}"></td>
														</p>
													</div>
												</div>
											</div>

										</tr>

									</div>